<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="home-page">

  	<h1>Welcome to the undertale Quiz!</h1>
  	
  	<form method="POST" action="/results">
  	<p>1. What song plays when you fight sans?.</p>
  		<input type="radio" name="q1" value="ghost fight">ghost fight<br>
  		<input type="radio" name="q1" value="Megolivania">Megalovania<br>
  		<input type="radio" name="q1" value="SPEAR OF JUSTICE!!!!">SPEAR OF JUSTICE!!!!<br>
  		<input type="radio" name="q1" value="Falling down">Falling down<br>
  	<p>2. Who is Wing Ding Gaster.</p>
  		<input type="radio" name="q2" value="All of the above">All of the above<br>
  		<input type="radio" name="q2" value="A person with a know idendity">A person with a known idendity<br>
  		<input type="radio" name="q2" value="A supernatrual being in the code">A supernatrual being in the code<br>
  		<input type="radio" name="q2" value="None of the above">sans and papyrus combined<br>
  	<p>3. What does love mean .</p>
  		<input type="radio" name="q3" value="a happy feeling you get when you have freinds and family">a happy feeling you get when you have freinds and family<br>
  		<input type="radio" name="q3" value="level of violence">level of violence<br>
  		<input type="radio" name="q3" value="a feeling as you go closer to madness">a feeling as you go closer to madness<br>
  		<input type="radio" name="q3" value="level of vitality">level of vitality<br>
  	<p>4. Who has the the most power in undertale.</p>
  		<input type="radio" name="q4" value="The human">The human<br>
  		<input type="radio" name="q4" value="Sans">Sans<br>
  		<input type="radio" name="q4" value="Undyne">Undyne<br>
  		<input type="radio" name="q4" value="Apsolute god of hyperdeath">Apsolute god of hyperdeath<br>
  	<p>5.Who is sans.</p>
  		<input type="radio" name="q5" value="A magical skelotan">A magical skelotan<br>
  	  <input type="radio" name="q5" value="Ness from earthbound">Ness from earthbound<br>
  		<input type="radio" name="q5" value="being of great power against anyone">being of great power against anyone<br>
  		<input type="radio" name="q5" value="none of the below">none of the below<br>
  	<input type="submit">
  	</form>

  </div>

</body>
</html>

